<%# Header partials %>
<%- include("../partials/header") -%>
<h1>Blog</h1>
<p><%= blogStartingContent %></p>
<hr />
<%# loop through object properties --ForEach-- Array.Foreach(function(element)){do} %>
<%# .slice() and .reverse() create shallow copies and reverse array
so that newer blog posts appear on top %>
<% newBlogPosts.slice().reverse().forEach(function(post){ %>
  <h2> <%= post.title %> </h2>
  <p> <%= post.contents.substring(0,100) + "..." %>
  <a href="/posts/<%= post._id %>">Read More</a>
  </p>
  <% }); %>
<!--<% %> is needed on every line of JavaScript code, for it to be rendered within HTML-->
<%# Footer partials %>
<%- include("../partials/footer") -%>
